.imgFooter {
  width: 50%;
  margin-top: 3em;
}
.imgFooter img {
  object-fit: cover;
}

.imgAntonio {
  width: 100%;
  padding: 0;
}
.imgFogon {
  width: 100%;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .imgFooter {
    width: 60%;
  }

  .imgAntonio {
    width: 70%;
    padding: 0;
  }
  .imgFogon {
    width: 50%;
    padding: 0;
  }
  .imgJesus {
    width: 40%;
    padding: 0;
  }
  .imgLogo {
    width: 200px;
  }
}
