.imgBorrego {
    width: 100%;
  }
  .imgBorrego img {
    object-fit: cover;
  }

  .imgBorrego {transform: rotate(20deg);


  }




  .imgLap {
    width: 90% ;

  }
  .imgLap img {
    object-fit: cover;
  }
  
 .imgLap {
  transform: rotateY(200deg) rotate(-15deg);
 }
  

  

  .imgCorazon  {
    width: 90% ;
  }
  .imgCorazon img {
    object-fit: cover;
  }
   
  .imgCorazon {
    transform: rotate(-20deg);
  }

  
  .imgMenu  {
    width: 20% ;
  }
  .imgMenu img {
    object-fit: cover;
  }


  
  .imgILogoTrebol{
    width: 8% ;
  }
  .imgILogoTrebol {
    object-fit: cover;
  }


  .imgFacebook{
    width: 50%;
  }
  .imgFacebook{
    object-fit: cover;
  }


  .imgInstagram{
    width: 50%;
  }
  .imgInstagram{
    object-fit: cover;
  }

  
  .imgWhatsApp{
    width: 50%;
  }
  .imgWhatsApp{
    object-fit: cover;
  }


  .imgGrafiiti{
    width: 50%;
  }
  .imgGrafiiti{
    object-fit: cover;
  }
