.imgBorrego {
    width: 90%;
    
  }
  .imgBorrego img {
    object-fit: cover;
  }




  .imgLap {
    width: 90% ;

  }
  .imgLap img {
    object-fit: cover;
  }
  
 .imgLap {
  transform: rotateY(200deg) rotate(-15deg);
 }
  

  



  .imgCorazon  {
    width: 90% ;
  }
  .imgCorazon img {
    object-fit: cover;
  }


  
  .imgMenu  {
    width: 20% ;
  }
  .imgMenu img {
    object-fit: cover;
  }


  
  .imgILogoTrebol{
    width: 8% ;
  }
  .imgILogoTrebol {
    object-fit: cover;
  }
